/* Styles de base */
.sotradons {
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: row;
    color: black; /* Couleur par défaut */
}

/* Animation de changement de couleur */
.s, .o, .t, .r, .a, .d, .n, .s {
    animation: colorCycle 9s infinite;
    animation-delay: calc(var(--order) * 0.1s);
}

/* @keyframes pour circuler les couleurs */
@keyframes colorCycle {
    0%, 15% { color: #004D7F; } /* Début en noir */
    16%, 33% { color: black; } /* Bleu assombri */
    34%, 48% { color: #B3A300; }
    49%, 66% { color: black; } /* Jaune assombri */
    67%, 81% { color: #B30000; } /* Rouge assombri */
    82%, 100% { color: black; } /* Retour à noir */
}

.by {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.ttext {
    margin-bottom: -1rem;
    margin-top: 0.5rem;
    text-align: center;
}
