@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* div {
    border: 1px solid black;
} */


/* styles.css */

/* Style pour la modal de félicitations */
.congratulations-modal .modal-content {
    text-align: center;
    padding: 20px;
}

/* Animation pour la modal */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

/* Appliquer l'animation à la modal */
.congratulations-modal.ant-modal {
    animation: slideInUp 0.5s ease-out;
}

/* Couleurs de base pour le style de la modal */
.congratulations-modal.ant-modal-content {
    background-color: #f0f0f0;
    /* Couleur de fond */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Ombre */
}

.congratulations-modal h2 {
    color: #1890ff;
    /* Couleur bleue */
}

.congratulations-modal p {
    color: #f5222d;
    /* Couleur rouge */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif ; */
    /* color: #373737; */
    /* font-size: 14px; */

}

input, Select{
    min-height: 45px !important;
    border: 1px solid #b9b9b9 !important;
    width: 100% !important;
}

input:focus{
    height: 45px !important;
    border: 1px solid #6a6a6a !important;
    box-shadow: none !important;
}

button{
    height: 45px !important;
}

/* Ajoutez ceci à votre fichier CSS */
.ant-table-tbody > tr:hover > td {
    background-color: #f0f7ff !important;
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
  
  .animate-blob {
    animation: blob 7s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  /* animation carousel */

  .carousel-row {
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .carousel-content {
    display: flex;
    width: fit-content;
  }
  
  .sponsor-item {
    width: 180px;
  }
  
  @media (max-width: 768px) {
    .sponsor-item {
      width: 150px;
    }
  }
  
  .sponsor-item:hover .text-gray-600 {
    opacity: 1;
  }